/* Col desktop */
$container-width-desktop: 139.2rem;
$section-side-offset-desktop: 2.4rem;
$vertical-offset-desktop: 3.5rem;
/* Col mobile */
$section-side-offset-mobile: 2rem;
$vertical-offset-mobile: 1.5rem;

/* Z-index */
$Zheader: 5;

/* Border-radius */
$base-border-radius: 0.4rem;

/* Base-shadow */
$base-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;