backend/.gradle
backend/.env
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Compiled class file
backend/*.class

/.idea
/frontend/dist
/frontend/node_modulest
