$brand: #C1DB3C;
$brand-clear: rgba(193, 219, 59, 0.8);

$dark-blue: #19252B;

$grey: #DBDBDB;
$grey-clear: rgba(219, 219, 219, 0.9);

$red: #B80C0C;

$white: #F2F2F2;

$base-white: #fff;
$base-black: #000;
