$green-light: #94A088;
$brown-light: #A79B8D;
$brown-light-clear: rgba(166, 153, 139, 0.9);
$brown-light-drk: #A19588;
$beige: #E9E2D8;
$dark-blue: #19252B;
$dark-blue-clear: rgba(25, 37, 43, 0.1);

$grey: #DBDBDB;
$grey-clear: rgba(219, 219, 219, 0.9);

$red: #B80C0C;

$white: #F2F2F2;

$base-white: #fff;
$base-black: #000;
