$brand: #5ed753;
$brand-drk: #5acb50;
$brand-clear: rgba(94, 214, 84, 0.9);

//$brand: #B3EB10;
//$brand-drk: #b1e810;
//$brand-clear: rgba(180, 235, 16, 0.9);

$dark-blue: #19252B;

$grey: #DBDBDB;
$grey-clear: rgba(219, 219, 219, 0.9);

$red: #B80C0C;

$white: #F2F2F2;

$base-white: #fff;
$base-black: #000;
