/* Col desktop */
$container-width-desktop: 139.2rem;
$section-side-offset-desktop: 2.4rem;
$vertical-offset-desktop: 3.5rem;
/* Col mobile */
$section-side-offset-mobile: 2rem;
$vertical-offset-mobile: 1.5rem;

/* Z-index */
$Zheader: 5;
