.fx {
  display: flex;
}

.fx-cl {
  display: flex;
  flex-direction: column;
}

.fx-rw {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fx-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.fx-jsb-cl {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fx-jfs-rw {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.fx-jsb-rw-ac {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.row {
  position: relative;
  width: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.mt25 {
  margin-top: 2.5rem;
}

.mt25-mb {
  @include mobile {
    margin-top: 2.5rem;
  }
}